/* HTML5 Boilerplate  */

* { margin:0; padding:0;border:0; outline:0; vertical-align:top; box-sizing:border-box;}
body { font-size:100%; line-height:1.2; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
img, video { max-width:100%; border:0; vertical-align:top; }

h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:normal;}

audio, canvas, video { display:inline-block; *display:inline; *zoom: 1; }


ul, ol, dl { list-style:none; }

a { vertical-align:top; text-decoration:none; color:#000; }
input, select { vertical-align:middle; }


table { border-collapse:collapse; border-spacing:0; }
label { cursor:pointer; }
button, input, select, textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle;}
button, input { line-height:normal; }
button, select { text-transform:none; }




input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance:none; }
input[type="search"] { -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance:button; cursor: pointer; *overflow:visible; }

textarea { overflow:auto; vertical-align:top; }