<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coordination.mapper.closetMapper">

	<!-- 마이페이지에서 이미지를 불러올 때에는 id값을 사용. -->
	<!-- 이미지를 업데이트할 때에는 num값을 사용. -->
	<select id="closetList" resultType="closetVO">
		SELECT *
		FROM closet
		WHERE 1=1
		<if test="id != null">
			AND id=#{id}
		</if>
		<if test="num != 0">
			AND num=#{num}
		</if>
	</select>
	
	<insert id="insertCloset">
		INSERT INTO closet(
			id,
			category,
			color,
			img
		)VALUES(
			#{id},
			#{category},
			#{color},
			#{img}
		)
	</insert>
	
	<update id="updateCloset">
		UPDATE closet SET
			category=#{category},
			color=#{color}
		WHERE
			num=#{num}
	</update>
	
	<delete id="deleteCloset">
		DELETE FROM closet WHERE num=#{num}
	</delete>
</mapper>