<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.coordination.mapper.styleMapper">
  
  	<!-- INSERT의 경우 이미지 분석 후, Python을 통해 데이터베이스에 등록되므로 굳이 만들 필요가 없어서 제외 -->
  	<select id="StyleList" resultType="styleVO">
  		SELECT * FROM style
  		WHERE
  			identify='y'
  	</select>
  	
  	<select id="StyleListIdentify" resultType="styleVO">
  		SELECT * FROM style
  		WHERE
  			identify='n'
  	</select>
  	
  	<select id="StyleOne" resultType="styleVO">
  		SELECT *
  		FROM style
  		WHERE num=#{num}
  	</select>
  	
  	<update id="updateStyle">
  		UPDATE style SET
  			top=#{top},
  			top_color=#{top_color},
  			pants=#{pants},
  			pants_color=#{pants_color},
  			img=#{img}
  		WHERE
  			num=#{num}
  	</update>
  	
  	<update id="updateIndentify">
  		UPDATE style SET
  			identify='y'
  		WHERE
  			num=#{num}
    	
  	</update>  	
  	<delete id="deleteStyle">
  		DELETE FROM style WHERE num=#{num}
  	</delete>
    
</mapper>